.section {
    display: none; 
    background-color: #ffffff;
    padding: 20px; 
    border-radius: 8px; 
}

.section.active {
    display: block; 
}

body {
    font-family: 'Roboto', 'Open Sans', 'Lato', Arial, sans-serif;
    margin: 0;
    padding: 0;
    background-color: #adb5bd;
}

header {
    background-color: #ffffff;
    color: #000000;
    padding: 10px 20px; 
    display: flex; 
    align-items: center; 
    margin-bottom: 0; 
    font-size: 18px;
}

.form-container {
    max-width: 600px; 
    margin: 20px auto; /* Agrega margen superior e inferior para separación */
    padding: 20px; 
    background-color: #ffffff; /* Agrega un fondo blanco para el contenedor del formulario */
    border-radius: 8px; /* Opcional: Agrega bordes redondeados */
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1); /* Opcional: Agrega sombra para resaltar el contenedor */
}

.logo-container {
    flex: 0 0 auto; 
}

.title-container {
    flex: 1; 
    text-align: center; 
}

header img {
    max-width: 100px; 
    height: auto; 
    margin-right: 20px; 
}

h1 {
    margin: 0; 
}

.topbar {
    background-color: #0056B3;
    color: #000000;
    text-align: center;
    padding: 10px 20px; 
    display: flex;
    justify-content: space-between; 
    align-items: center; 
}

.topbar a {
    color: #fff;
    text-decoration: none;
    margin: 0 10px;
    font-weight: bold;
}

.topbar a:hover {
    color: #007BFF;
}

.contact-info {
    display: flex;
    align-items: center;
}

.contact-info span {
    margin-right: 10px;
    color: #fff; 
}

nav {
    display: flex;
    justify-content: flex-end; 
    align-items: center;
    background-color: #333; 
    padding: 10px 20px;
}

nav .nav-list {
    display: flex;
    list-style-type: none;
    margin: 0;
    padding: 0;
}

nav .nav-list li {
    margin-right: 20px;
}

nav .nav-list li a {
    color: #fff;
    text-decoration: none;
    font-size: 1.2rem;
    transition: color 0.3s ease;
}

nav .nav-list li a:hover {
    color: #007BFF;
}

.menu-toggle {
    display: none;
    flex-direction: column;
    cursor: pointer;
}

.menu-toggle .bar {
    width: 25px;
    height: 3px;
    background-color: #fff;
    margin: 4px 0;
    transition: 0.3s;
}

@media (max-width: 768px) {
    nav .nav-list {
        display: none;
        flex-direction: column;
        width: 100%;
        background-color: #333;
        position: absolute;
        top: 50px;
        left: 0;
    }

    nav .nav-list.active {
        display: flex;
    }

    nav .nav-list li {
        margin-right: 0;
        text-align: center;
        padding: 10px 0;
    }

    .menu-toggle {
        display: flex;
    }
}

.section {
    padding: 20px;
}

.service-container {
    display: flex;
    flex-wrap: wrap;
}

.service-box {
    flex: 1;
    min-width: 200px;
    margin: 10px;
    background-color: #fff;
    padding: 15px;
    border-radius: 8px;
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
}

footer {
    text-align: center;
    padding: 5px 5px; 
    background-color: #0056B3;
    color: #fff;
    position: relative; 
    bottom: 0; 
    width: 100%; 
}

form {
    display: flex;
    flex-direction: column; 
}

form label {
    margin: 10px 0 5px;
}

form input, form textarea {
    padding: 10px;
    margin-bottom: 15px;
    border: 1px solid #ccc;
    border-radius: 4px;
    width: 100%; /* Ocupa todo el ancho del contenedor */
    box-sizing: border-box; /* Incluye el padding y el borde en el ancho total */
}

form button {
    padding: 10px;
    background-color: #007BFF;
    color: white;
    border: none;
    border-radius: 4px;
    cursor: pointer;
    width: 100%; /* Asegúrate de que el botón ocupe el ancho completo */
}

form button:hover {
    background-color: #0056B3;
}

@media (max-width: 768px) {
    nav .nav-list {
        display: none; 
        flex-direction: column;
        width: 100%;
        background-color: #333;
        position: absolute;
        top: 60px; 
        left: 0;
        z-index: 1000; 
    }

    nav .nav-list.active {
        display: flex; 
    }
}
